In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CarPrice_Assignment.csv')

In [3]:
df.sample(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
189,190,3,vw dasher,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,11595.0
71,72,-1,buick opel isuzu deluxe,gas,std,four,sedan,rwd,front,115.6,...,234,mpfi,3.46,3.10,8.3,155,4750,16,18,34184.0
81,82,3,mitsubishi g4,gas,std,two,hatchback,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,8499.0
167,168,2,toyota corona liftback,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.50,9.3,116,4800,24,30,8449.0
195,196,-1,volvo 144ea,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,13415.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
df['drivewheel'].value_counts()

drivewheel
fwd    120
rwd     76
4wd      9
Name: count, dtype: int64

In [6]:
df = df[['CarName','fueltype','carbody','fuelsystem','drivewheel']]

In [7]:
#df.sample(5)

# ordinal variable , ordinal encoder , label encoder

# Using Python

In [8]:
#df.sample(5)

In [9]:
#df['trans_fueltype'] = df['fueltype'].map({'gas':0, 'diesel':1})

In [10]:
#df['trans_drivewheel'] = df['drivewheel'].map({'fwd':0, 'rwd':1, '4wd':2})

In [11]:
#df['trans_carbody'] = df['carbody'].map({'sedan':0, 'hatchback':1, 'wagon':2, 'hardtop':3, 'convertible':4})

In [12]:
#df.drop(['CarName','fuelsystem'], axis=1, inplace=True)

In [13]:
#df.sample(5)

In [14]:
#df[['trans_fueltype','trans_drivewheel','trans_carbody']]

# Using Scikit learn

# Applying Label Encoder

In [15]:
df.head()

                    CarName fueltype      carbody fuelsystem drivewheel
0        alfa-romero giulia      gas  convertible       mpfi        rwd
1       alfa-romero stelvio      gas  convertible       mpfi        rwd
2  alfa-romero Quadrifoglio      gas    hatchback       mpfi        rwd
3               audi 100 ls      gas        sedan       mpfi        fwd
4                audi 100ls      gas        sedan       mpfi        4wd

In [16]:
#df['fueltype'].apply(lambda x: 1 if x=='gas' else 0)

In [17]:
df = df[['fueltype','carbody','drivewheel']]

In [18]:
X = df.drop('fueltype',axis=1)
y = df['fueltype']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
X_train

       carbody drivewheel
66       sedan        rwd
111      sedan        rwd
153      wagon        fwd
96       sedan        fwd
38   hatchback        fwd
..         ...        ...
106  hatchback        rwd
14       sedan        rwd
92       sedan        fwd
179  hatchback        rwd
102      wagon        fwd

[164 rows x 2 columns]

y_train

In [22]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder

In [23]:
le = LabelEncoder()

In [31]:
y_train_scaled = le.fit_transform(y_train)
y_test_scaled = le.transform(y_test)

In [32]:
y_train_scaled

array([0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [33]:
oe = OrdinalEncoder()

In [34]:
X_train_trans = oe.fit_transform(X_train)
X_test_trans = oe.transform(X_test)

In [36]:
X_train.head()

       carbody drivewheel
66       sedan        rwd
111      sedan        rwd
153      wagon        fwd
96       sedan        fwd
38   hatchback        fwd

In [38]:
df['carbody'].value_counts()

carbody
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: count, dtype: int64

In [37]:
X_train_trans

array([[3., 2.],
       [3., 2.],
       [4., 1.],
       [3., 1.],
       [2., 1.],
       [2., 1.],
       [2., 1.],
       [3., 2.],
       [2., 1.],
       [2., 1.],
       [2., 2.],
       [3., 1.],
       [3., 1.],
       [4., 1.],
       [3., 1.],
       [1., 2.],
       [2., 2.],
       [0., 2.],
       [2., 1.],
       [3., 0.],
       [2., 2.],
       [2., 1.],
       [2., 2.],
       [3., 1.],
       [2., 1.],
       [3., 2.],
       [3., 1.],
       [2., 2.],
       [3., 1.],
       [3., 1.],
       [2., 1.],
       [2., 0.],
       [2., 1.],
       [4., 2.],
       [2., 2.],
       [3., 1.],
       [2., 2.],
       [2., 1.],
       [2., 1.],
       [3., 1.],
       [3., 1.],
       [3., 2.],
       [3., 2.],
       [2., 2.],
       [2., 1.],
       [2., 2.],
       [3., 1.],
       [1., 2.],
       [3., 1.],
       [2., 1.],
       [4., 1.],
       [4., 2.],
       [2., 1.],
       [2., 1.],
       [3., 1.],
       [3., 1.],
       [2., 1.],
       [3., 2.],
       [4., 2.],
       [3., 2.],
       [3., 1.],
       [3., 1.],
       [1., 2.],
       [3., 2.],
       [3., 1.],
       [3., 0.],
       [2., 1.],
       [4., 2.],
       [3., 1.],
       [3., 2.],
       [4., 0.],
       [3., 2.],
       [3., 1.],
       [2., 1.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [3., 1.],
       [3., 1.],
       [3., 2.],
       [3., 2.],
       [2., 1.],
       [3., 1.],
       [3., 2.],
       [4., 1.],
       [3., 1.],
       [3., 2.],
       [4., 1.],
       [2., 1.],
       [4., 0.],
       [0., 1.],
       [2., 1.],
       [3., 1.],
       [0., 2.],
       [3., 2.],
       [3., 1.],
       [3., 1.],
       [3., 2.],
       [3., 1.],
       [3., 1.],
       [2., 2.],
       [3., 1.],
       [3., 1.],
       [3., 1.],
       [2., 1.],
       [2., 1.],
       [3., 2.],
       [2., 1.],
       [2., 1.],
       [4., 1.],
       [4., 2.],
       [3., 1.],
       [2., 1.],
       [4., 2.],
       [3., 1.],
       [3., 1.],
       [3., 1.],
       [3., 2.],
       [2., 1.],
       [3., 1.],
       [2., 1.],
       [3., 2.],
       [0., 2.],
       [3., 2.],
       [2., 1.],
       [2., 2.],
       [3., 2.],
       [3., 1.],
       [3., 1.],
       [3., 2.],
       [2., 1.],
       [3., 2.],
       [2., 2.],
       [2., 2.],
       [3., 2.],
       [3., 1.],
       [2., 1.],
       [2., 2.],
       [3., 1.],
       [4., 2.],
       [2., 2.],
       [2., 1.],
       [2., 1.],
       [4., 1.],
       [0., 2.],
       [2., 1.],
       [4., 0.],
       [4., 1.],
       [2., 1.],
       [3., 1.],
       [2., 1.],
       [3., 2.],
       [3., 1.],
       [1., 2.],
       [3., 1.],
       [3., 2.],
       [3., 1.],
       [3., 1.],
       [3., 2.],
       [2., 2.],
       [3., 2.],
       [3., 1.],
       [2., 2.],
       [4., 1.]])