In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CarPrice_Assignment.csv')

In [3]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
df = df[['fueltype','drivewheel','CarName','doornumber']]

In [6]:
df['fueltype'].value_counts()

fueltype
gas       185
diesel     20
Name: count, dtype: int64

# using pandas one hot encos

In [7]:
pd.get_dummies(data=df, columns=['drivewheel','CarName','doornumber','fueltype'], dtype=int, drop_first='first')

,drivewheel_fwd,drivewheel_rwd,CarName_alfa-romero Quadrifoglio,CarName_alfa-romero giulia,CarName_alfa-romero stelvio,CarName_audi 100 ls,CarName_audi 100ls,CarName_audi 4000,CarName_audi 5000,CarName_audi 5000s (diesel),...,CarName_volvo 145e (sw),CarName_volvo 244dl,CarName_volvo 245,CarName_volvo 246,CarName_volvo 264gl,CarName_volvo diesel,CarName_vw dasher,CarName_vw rabbit,doornumber_two,fueltype_gas
0,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
201,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
202,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
203,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
204,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

# with scikit learn one hot encoder

In [8]:
from sklearn.preprocessing import OneHotEncoder

In [9]:
ohe = OneHotEncoder(drop='first', dtype=int, sparse_output=False)

In [10]:
df_trf = ohe.fit_transform(df[['fueltype','drivewheel','CarName','doornumber']])

In [12]:
df_trf

array([[1, 0, 1, ..., 0, 0, 1],
       [1, 0, 1, ..., 0, 0, 1],
       [1, 0, 1, ..., 0, 0, 1],
       ...,
       [1, 0, 1, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 0, 0]])

In [13]:
cols = ohe.get_feature_names_out()

In [14]:
cols

array(['fueltype_gas', 'drivewheel_fwd', 'drivewheel_rwd',
       'CarName_alfa-romero Quadrifoglio', 'CarName_alfa-romero giulia',
       'CarName_alfa-romero stelvio', 'CarName_audi 100 ls',
       'CarName_audi 100ls', 'CarName_audi 4000', 'CarName_audi 5000',
       'CarName_audi 5000s (diesel)', 'CarName_audi fox',
       'CarName_bmw 320i', 'CarName_bmw x1', 'CarName_bmw x3',
       'CarName_bmw x4', 'CarName_bmw x5', 'CarName_bmw z4',
       'CarName_buick century', 'CarName_buick century luxus (sw)',
       'CarName_buick century special',
       'CarName_buick electra 225 custom',
       'CarName_buick opel isuzu deluxe',
       'CarName_buick regal sport coupe (turbo)', 'CarName_buick skyhawk',
       'CarName_buick skylark', 'CarName_chevrolet impala',
       'CarName_chevrolet monte carlo', 'CarName_chevrolet vega 2300',
       'CarName_dodge challenger se', 'CarName_dodge colt (sw)',
       'CarName_dodge colt hardtop', 'CarName_dodge coronet custom',
       'CarName_dodge coronet custom (sw)', 'CarName_dodge d200',
       'CarName_dodge dart custom', 'CarName_dodge monaco (sw)',
       'CarName_dodge rampage', 'CarName_honda accord',
       'CarName_honda accord cvcc', 'CarName_honda accord lx',
       'CarName_honda civic', 'CarName_honda civic (auto)',
       'CarName_honda civic 1300', 'CarName_honda civic 1500 gl',
       'CarName_honda civic cvcc', 'CarName_honda prelude',
       'CarName_isuzu D-Max ', 'CarName_isuzu D-Max V-Cross',
       'CarName_isuzu MU-X', 'CarName_jaguar xf', 'CarName_jaguar xj',
       'CarName_jaguar xk', 'CarName_maxda glc deluxe',
       'CarName_maxda rx3', 'CarName_mazda 626', 'CarName_mazda glc',
       'CarName_mazda glc 4', 'CarName_mazda glc custom',
       'CarName_mazda glc custom l', 'CarName_mazda glc deluxe',
       'CarName_mazda rx-4', 'CarName_mazda rx-7 gs',
       'CarName_mazda rx2 coupe', 'CarName_mercury cougar',
       'CarName_mitsubishi g4', 'CarName_mitsubishi lancer',
       'CarName_mitsubishi mirage', 'CarName_mitsubishi mirage g4',
       'CarName_mitsubishi montero', 'CarName_mitsubishi outlander',
       'CarName_mitsubishi pajero', 'CarName_nissan clipper',
       'CarName_nissan dayz', 'CarName_nissan fuga',
       'CarName_nissan gt-r', 'CarName_nissan juke',
       'CarName_nissan kicks', 'CarName_nissan latio',
       'CarName_nissan leaf', 'CarName_nissan note',
       'CarName_nissan nv200', 'CarName_nissan otti',
       'CarName_nissan rogue', 'CarName_nissan teana',
       'CarName_nissan titan', 'CarName_peugeot 304',
       'CarName_peugeot 504', 'CarName_peugeot 504 (sw)',
       'CarName_peugeot 505s turbo diesel', 'CarName_peugeot 604sl',
       'CarName_plymouth cricket', 'CarName_plymouth duster',
       'CarName_plymouth fury gran sedan', 'CarName_plymouth fury iii',
       'CarName_plymouth satellite custom (sw)',
       'CarName_plymouth valiant', 'CarName_porcshce panamera',
       'CarName_porsche boxter', 'CarName_porsche cayenne',
       'CarName_porsche macan', 'CarName_renault 12tl',
       'CarName_renault 5 gtl', 'CarName_saab 99e', 'CarName_saab 99gle',
       'CarName_saab 99le', 'CarName_subaru', 'CarName_subaru baja',
       'CarName_subaru brz', 'CarName_subaru dl', 'CarName_subaru r1',
       'CarName_subaru r2', 'CarName_subaru trezia',
       'CarName_subaru tribeca', 'CarName_toyota carina',
       'CarName_toyota celica gt', 'CarName_toyota celica gt liftback',
       'CarName_toyota corolla', 'CarName_toyota corolla 1200',
       'CarName_toyota corolla 1600 (sw)',
       'CarName_toyota corolla liftback', 'CarName_toyota corolla tercel',
       'CarName_toyota corona', 'CarName_toyota corona hardtop',
       'CarName_toyota corona liftback', 'CarName_toyota corona mark ii',
       'CarName_toyota cressida', 'CarName_toyota mark ii',
       'CarName_toyota starlet', 'CarName_toyota tercel',
       'CarName_toyouta tercel', 'CarName_vokswagen rabbit',
       'CarName_volkswagen 1131 deluxe sedan',
       'CarName_volkswagen 411 (sw)', 'CarName_volkswagen dasher',
       'CarName_volkswagen model 111', 'CarName_volkswagen rabbit',
       'CarName_volkswagen rabbit custom',
       'CarName_volkswagen super beetle', 'CarName_volkswagen type 3',
       'CarName_volvo 144ea', 'CarName_volvo 145e (sw)',
       'CarName_volvo 244dl', 'CarName_volvo 245', 'CarName_volvo 246',
       'CarName_volvo 264gl', 'CarName_volvo diesel', 'CarName_vw dasher',
       'CarName_vw rabbit', 'doornumber_two'], dtype=object)

In [16]:
new_df = pd.DataFrame(data=df_trf, columns=cols)

In [17]:
new_df.sample(5)

,fueltype_gas,drivewheel_fwd,drivewheel_rwd,CarName_alfa-romero Quadrifoglio,CarName_alfa-romero giulia,CarName_alfa-romero stelvio,CarName_audi 100 ls,CarName_audi 100ls,CarName_audi 4000,CarName_audi 5000,...,CarName_volvo 144ea,CarName_volvo 145e (sw),CarName_volvo 244dl,CarName_volvo 245,CarName_volvo 246,CarName_volvo 264gl,CarName_volvo diesel,CarName_vw dasher,CarName_vw rabbit,doornumber_two
43,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
86,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df['drivewheel'].value_counts()

drivewheel
fwd    120
rwd     76
4wd      9
Name: count, dtype: int64