In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('CarPrice_Assignment.csv')

In [4]:
df.sample(4)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
157,158,0,toyota corolla 1200,gas,std,four,hatchback,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,7198.0
77,78,2,mitsubishi lancer,gas,std,two,hatchback,fwd,front,93.7,...,92,2bbl,2.97,3.23,9.4,68,5500,31,38,6189.0
115,116,0,peugeot 504,gas,std,four,sedan,rwd,front,107.9,...,120,mpfi,3.46,3.19,8.4,97,5000,19,24,16630.0
101,102,0,nissan dayz,gas,std,four,sedan,fwd,front,100.4,...,181,mpfi,3.43,3.27,9.0,152,5200,17,22,13499.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
df = df[['car_ID','CarName','fueltype','wheelbase','fuelsystem','citympg','highwaympg','price']]

In [6]:
df.sample(4)

,car_ID,CarName,fueltype,wheelbase,fuelsystem,citympg,highwaympg,price
183,184,volkswagen 1131 deluxe sedan,gas,97.3,mpfi,27,34,7975.0
89,90,Nissan versa,gas,94.5,2bbl,31,37,5499.0
153,154,toyota corona hardtop,gas,95.7,2bbl,31,37,6918.0
135,136,saab 99gle,gas,99.1,mpfi,21,28,15510.0

In [7]:
df = df[['wheelbase','citympg','price']]

In [8]:
df.sample(5)

     wheelbase  citympg    price
191      100.4       19  13295.0
166       94.5       26   9538.0
189       94.5       24  11595.0
176      102.4       27  10898.0
123      103.3       24   8921.0

# Applying Normalization : Minmax Scaling

# these operation are used after train_test_split

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
scaler = MinMaxScaler()

In [11]:
scaled_df = scaler.fit_transform(df)

In [12]:
scaled_df

array([[5.83090379e-02, 2.22222222e-01, 2.07958890e-01],
       [5.83090379e-02, 2.22222222e-01, 2.82557966e-01],
       [2.30320700e-01, 1.66666667e-01, 2.82557966e-01],
       [3.84839650e-01, 3.05555556e-01, 2.19254257e-01],
       [3.73177843e-01, 1.38888889e-01, 3.06141701e-01],
       [3.84839650e-01, 1.66666667e-01, 2.51526737e-01],
       [5.59766764e-01, 1.66666667e-01, 3.12596197e-01],
       [5.59766764e-01, 1.66666667e-01, 3.42634427e-01],
       [5.59766764e-01, 1.11111111e-01, 4.65642222e-01],
       [3.76093294e-01, 8.33333333e-02, 3.16299265e-01],
       [4.25655977e-01, 2.77777778e-01, 2.80820217e-01],
       [4.25655977e-01, 2.77777778e-01, 2.93108584e-01],
       [4.25655977e-01, 2.22222222e-01, 3.93525644e-01],
       [4.25655977e-01, 2.22222222e-01, 3.96877017e-01],
       [4.92711370e-01, 1.94444444e-01, 4.82771461e-01],
       [4.92711370e-01, 8.33333333e-02, 6.36562236e-01],
       [4.92711370e-01, 8.33333333e-02, 8.98589941e-01],
       [6.82215743e-01, 5.55555556e-02, 7.88491137e-01],
       [5.24781341e-02, 9.44444444e-01, 8.19224468e-04],
       [2.30320700e-01, 6.94444444e-01, 2.92190060e-02],
       [2.30320700e-01, 6.94444444e-01, 3.61700015e-02],
       [2.06997085e-01, 6.66666667e-01, 1.12705427e-02],
       [2.06997085e-01, 5.00000000e-01, 3.12546547e-02],
       [2.06997085e-01, 3.05555556e-01, 7.04781292e-02],
       [2.06997085e-01, 5.00000000e-01, 2.75805571e-02],
       [2.06997085e-01, 5.00000000e-01, 3.90745246e-02],
       [2.06997085e-01, 5.00000000e-01, 6.18390348e-02],
       [2.06997085e-01, 3.05555556e-01, 8.53979445e-02],
       [4.86880466e-01, 3.05555556e-01, 9.44094136e-02],
       [2.71137026e-01, 1.66666667e-01, 1.94776823e-01],
       [0.00000000e+00, 1.00000000e+00, 3.37868030e-02],
       [0.00000000e+00, 5.00000000e-01, 4.31209970e-02],
       [2.06997085e-01, 6.94444444e-01, 6.97582047e-03],
       [2.06997085e-01, 4.72222222e-01, 3.50280522e-02],
       [2.06997085e-01, 4.72222222e-01, 4.99230426e-02],
       [2.88629738e-01, 4.72222222e-01, 5.40439899e-02],
       [2.88629738e-01, 4.72222222e-01, 5.40439899e-02],
       [2.88629738e-01, 3.88888889e-01, 6.89389802e-02],
       [2.88629738e-01, 3.88888889e-01, 9.87289608e-02],
       [2.88629738e-01, 3.88888889e-01, 9.25227149e-02],
       [2.88629738e-01, 3.88888889e-01, 1.28518941e-01],
       [2.88629738e-01, 3.05555556e-01, 1.94305149e-01],
       [2.88629738e-01, 3.33333333e-01, 1.29760191e-01],
       [2.24489796e-01, 3.05555556e-01, 4.13832481e-02],
       [2.30320700e-01, 6.94444444e-01, 9.42977012e-02],
       [2.30320700e-01, 6.94444444e-01, 9.42977012e-02],
       [2.74052478e-01, 3.05555556e-01, 1.47212154e-01],
       [7.69679300e-01, 5.55555556e-02, 6.73551462e-01],
       [7.69679300e-01, 5.55555556e-02, 7.55473909e-01],
       [4.48979592e-01, 0.00000000e+00, 7.66645152e-01],
       [1.89504373e-01, 4.72222222e-01, 1.91152376e-03],
       [1.89504373e-01, 5.00000000e-01, 2.42540092e-02],
       [1.89504373e-01, 5.00000000e-01, 4.16314979e-02],
       [1.89504373e-01, 5.00000000e-01, 3.91489996e-02],
       [1.89504373e-01, 5.00000000e-01, 5.65264883e-02],
       [2.53644315e-01, 1.11111111e-01, 1.44655181e-01],
       [2.53644315e-01, 1.11111111e-01, 1.66997666e-01],
       [2.53644315e-01, 1.11111111e-01, 2.11682637e-01],
       [2.53644315e-01, 8.33333333e-02, 2.61332605e-01],
       [3.55685131e-01, 3.61111111e-01, 9.25227149e-02],
       [3.55685131e-01, 3.61111111e-01, 8.38339705e-02],
       [3.55685131e-01, 3.61111111e-01, 1.35966437e-01],
       [3.55685131e-01, 3.61111111e-01, 1.27277692e-01],
       [3.55685131e-01, 6.38888889e-01, 1.40931433e-01],
       [3.55685131e-01, 3.61111111e-01, 1.52102676e-01],
       [5.33527697e-01, 1.66666667e-01, 3.26746438e-01],
       [5.33527697e-01, 5.00000000e-01, 3.28335237e-01],
       [6.82215743e-01, 2.50000000e-01, 5.07273720e-01],
       [6.82215743e-01, 2.50000000e-01, 5.74201877e-01],
       [5.86005831e-01, 2.50000000e-01, 5.72414478e-01],
       [8.45481050e-01, 2.50000000e-01, 6.57415223e-01],
       [8.45481050e-01, 8.33333333e-02, 7.21562981e-01],
       [2.91545190e-01, 8.33333333e-02, 7.43210367e-01],
       [1.00000000e+00, 2.77777778e-02, 8.89777072e-01],
       [7.40524781e-01, 2.77777778e-02, 1.00000000e+00],
       [4.69387755e-01, 1.66666667e-01, 2.82632441e-01],
       [2.06997085e-01, 6.66666667e-01, 6.72757063e-03],
       [2.06997085e-01, 5.00000000e-01, 2.65875577e-02],
       [2.06997085e-01, 5.00000000e-01, 3.85035500e-02],
       [1.86588921e-01, 3.05555556e-01, 6.38250335e-02],
       [2.82798834e-01, 2.77777778e-01, 1.20177747e-01],
       [2.82798834e-01, 3.33333333e-01, 8.39332704e-02],
       [2.71137026e-01, 1.66666667e-01, 1.86460454e-01],
       [2.71137026e-01, 1.66666667e-01, 2.42068418e-01],
       [2.71137026e-01, 1.66666667e-01, 2.32634924e-01],
       [2.82798834e-01, 3.33333333e-01, 4.64475448e-02],
       [2.82798834e-01, 3.33333333e-01, 7.62375254e-02],
       [2.82798834e-01, 2.77777778e-01, 1.03296758e-01],
       [2.82798834e-01, 2.77777778e-01, 1.03296758e-01],
       [2.30320700e-01, 5.00000000e-01, 9.45831885e-03],
       [2.30320700e-01, 8.88888889e-01, 4.91782930e-02],
       [2.30320700e-01, 5.00000000e-01, 3.80070503e-02],
       [2.30320700e-01, 5.00000000e-01, 4.29720471e-02],
       [2.30320700e-01, 5.00000000e-01, 5.53845390e-02],
       [2.30320700e-01, 5.00000000e-01, 5.41432898e-02],
       [2.30320700e-01, 5.00000000e-01, 6.65557817e-02],
       [2.30320700e-01, 5.00000000e-01, 5.91082866e-02],
       [2.30320700e-01, 5.00000000e-01, 7.15207785e-02],
       [2.47813411e-01, 5.00000000e-01, 7.77270245e-02],
       [3.09037901e-01, 3.88888889e-01, 9.51045132e-02],
       [3.09037901e-01, 3.88888889e-01, 1.09999504e-01],
       [4.02332362e-01, 1.11111111e-01, 2.08058190e-01],
       [4.02332362e-01, 1.11111111e-01, 2.30400675e-01],
       [4.02332362e-01, 1.66666667e-01, 2.08058190e-01],
       [1.37026239e-01, 1.66666667e-01, 2.99910630e-01],
       [1.37026239e-01, 1.11111111e-01, 3.61973090e-01],
       [3.67346939e-01, 1.66666667e-01, 3.29700611e-01],
       [6.20991254e-01, 1.66666667e-01, 1.68363041e-01],
       [6.20991254e-01, 4.16666667e-01, 2.00635520e-01],
       [8.04664723e-01, 1.66666667e-01, 1.81768532e-01],
       [8.04664723e-01, 3.33333333e-01, 2.17020009e-01],
       [6.20991254e-01, 1.66666667e-01, 2.59718981e-01],
       [6.20991254e-01, 4.16666667e-01, 2.92487960e-01],
       [8.04664723e-01, 1.66666667e-01, 2.87398838e-01],
       [8.04664723e-01, 3.33333333e-01, 2.96832332e-01],
       [6.20991254e-01, 1.66666667e-01, 2.85785214e-01],
       [6.20991254e-01, 4.16666667e-01, 3.18554193e-01],
       [6.23906706e-01, 1.38888889e-01, 3.23519190e-01],
       [2.06997085e-01, 6.66666667e-01, 1.12705427e-02],
       [2.06997085e-01, 3.05555556e-01, 7.04781292e-02],
       [2.06997085e-01, 5.00000000e-01, 2.75805571e-02],
       [2.06997085e-01, 5.00000000e-01, 3.90745246e-02],
       [2.06997085e-01, 5.00000000e-01, 6.18390348e-02],
       [4.86880466e-01, 3.05555556e-01, 9.44094136e-02],
       [2.71137026e-01, 1.66666667e-01, 1.89811827e-01],
       [2.30320700e-01, 1.66666667e-01, 4.19542227e-01],
       [8.45481050e-02, 1.11111111e-01, 6.80452808e-01],
       [8.45481050e-02, 1.11111111e-01, 7.17690284e-01],
       [8.45481050e-02, 1.11111111e-01, 7.92165235e-01],
       [3.44023324e-01, 1.11111111e-01, 6.52462638e-01],
       [2.76967930e-01, 2.77777778e-01, 1.03693958e-01],
       [2.76967930e-01, 2.77777778e-01, 1.18588948e-01],
       [3.64431487e-01, 2.22222222e-01, 1.67121791e-01],
       [3.64431487e-01, 2.22222222e-01, 1.75065786e-01],
       [3.64431487e-01, 2.22222222e-01, 2.46313490e-01],
       [3.64431487e-01, 2.22222222e-01, 2.57981232e-01],
       [3.64431487e-01, 1.66666667e-01, 3.23519190e-01],
       [3.64431487e-01, 1.66666667e-01, 3.35186932e-01],
       [2.06997085e-01, 5.00000000e-01, 0.00000000e+00],
       [2.06997085e-01, 3.61111111e-01, 4.80363438e-02],
       [1.95335277e-01, 3.61111111e-01, 6.16900849e-02],
       [3.09037901e-01, 5.27777778e-01, 4.98485676e-02],
       [3.09037901e-01, 4.16666667e-01, 6.59599821e-02],
       [3.09037901e-01, 3.61111111e-01, 1.20202572e-01],
       [3.03206997e-01, 3.05555556e-01, 1.02154809e-01],
       [3.03206997e-01, 3.05555556e-01, 1.52450226e-01],
       [3.03206997e-01, 4.16666667e-01, 5.82145872e-02],
       [3.03206997e-01, 3.33333333e-01, 1.26110918e-01],
       [3.00291545e-01, 2.77777778e-01, 7.18683283e-02],
       [3.00291545e-01, 2.77777778e-01, 1.63249094e-01],
       [2.65306122e-01, 6.11111111e-01, 5.70974629e-03],
       [2.65306122e-01, 5.00000000e-01, 3.02864803e-02],
       [2.65306122e-01, 5.00000000e-01, 3.40102279e-02],
       [2.65306122e-01, 5.00000000e-01, 4.46849710e-02],
       [2.65306122e-01, 3.88888889e-01, 6.90134551e-02],
       [2.65306122e-01, 3.88888889e-01, 9.08594409e-02],
       [2.65306122e-01, 4.72222222e-01, 4.51814706e-02],
       [2.65306122e-01, 4.72222222e-01, 5.16359664e-02],
       [2.65306122e-01, 5.83333333e-01, 6.90134551e-02],
       [2.65306122e-01, 6.94444444e-01, 6.62827069e-02],
       [2.65306122e-01, 6.94444444e-01, 6.50414577e-02],
       [2.65306122e-01, 4.16666667e-01, 8.04329477e-02],
       [2.65306122e-01, 4.16666667e-01, 1.02775433e-01],
       [2.30320700e-01, 4.44444444e-01, 7.29854526e-02],
       [2.30320700e-01, 4.44444444e-01, 7.74539497e-02],
       [2.30320700e-01, 3.61111111e-01, 1.03768433e-01],
       [2.30320700e-01, 3.61111111e-01, 1.09726429e-01],
       [3.44023324e-01, 3.05555556e-01, 8.26920213e-02],
       [3.44023324e-01, 3.05555556e-01, 1.12233752e-01],
       [3.44023324e-01, 3.05555556e-01, 1.20922496e-01],
       [3.44023324e-01, 3.05555556e-01, 1.50960727e-01],
       [3.44023324e-01, 3.05555556e-01, 1.59649471e-01],
       [3.44023324e-01, 3.05555556e-01, 3.11578372e-01],
       [4.60641399e-01, 4.44444444e-01, 9.50796882e-02],
       [4.60641399e-01, 4.72222222e-01, 1.38523410e-01],
       [4.60641399e-01, 3.88888889e-01, 1.20897671e-01],
       [4.60641399e-01, 3.88888889e-01, 1.43488407e-01],
       [4.60641399e-01, 3.88888889e-01, 1.52177151e-01],
       [4.75218659e-01, 1.94444444e-01, 2.83997815e-01],
       [4.75218659e-01, 1.66666667e-01, 2.70095824e-01],
       [5.21865889e-01, 1.94444444e-01, 2.62449729e-01],
       [5.21865889e-01, 1.66666667e-01, 2.63939228e-01],
       [3.11953353e-01, 6.66666667e-01, 6.59599821e-02],
       [3.11953353e-01, 3.88888889e-01, 7.09249789e-02],
       [3.11953353e-01, 6.66666667e-01, 7.14214786e-02],
       [3.11953353e-01, 3.88888889e-01, 7.63864753e-02],
       [3.11953353e-01, 3.88888889e-01, 8.38339705e-02],
       [3.11953353e-01, 6.66666667e-01, 1.08658954e-01],
       [3.11953353e-01, 3.61111111e-01, 1.21071446e-01],
       [2.30320700e-01, 3.05555556e-01, 1.60791420e-01],
       [2.30320700e-01, 3.05555556e-01, 1.20699072e-01],
       [4.02332362e-01, 1.66666667e-01, 2.02993893e-01],
       [4.02332362e-01, 5.55555556e-01, 2.16647634e-01],
       [4.02332362e-01, 3.33333333e-01, 1.78044784e-01],
       [5.16034985e-01, 2.77777778e-01, 1.94181024e-01],
       [5.16034985e-01, 2.77777778e-01, 2.05972891e-01],
       [5.16034985e-01, 3.05555556e-01, 2.69773100e-01],
       [5.16034985e-01, 3.05555556e-01, 2.82930341e-01],
       [5.16034985e-01, 1.11111111e-01, 3.30221935e-01],
       [5.16034985e-01, 1.11111111e-01, 3.43379177e-01],
       [6.55976676e-01, 2.77777778e-01, 2.91122586e-01],
       [6.55976676e-01, 1.66666667e-01, 3.45737550e-01],
       [6.55976676e-01, 1.38888889e-01, 4.06310511e-01],
       [6.55976676e-01, 3.61111111e-01, 4.30763120e-01],
       [6.55976676e-01, 1.66666667e-01, 4.34610993e-01]])

In [13]:
new_df = pd.DataFrame(data=scaled_df,columns=df.columns)
new_df

     wheelbase   citympg     price
0     0.058309  0.222222  0.207959
1     0.058309  0.222222  0.282558
2     0.230321  0.166667  0.282558
3     0.384840  0.305556  0.219254
4     0.373178  0.138889  0.306142
..         ...       ...       ...
200   0.655977  0.277778  0.291123
201   0.655977  0.166667  0.345738
202   0.655977  0.138889  0.406311
203   0.655977  0.361111  0.430763
204   0.655977  0.166667  0.434611

[205 rows x 3 columns]

# Train Test Split

In [15]:
df

     wheelbase  citympg    price
0         88.6       21  13495.0
1         88.6       21  16500.0
2         94.5       19  16500.0
3         99.8       24  13950.0
4         99.4       18  17450.0
..         ...      ...      ...
200      109.1       23  16845.0
201      109.1       19  19045.0
202      109.1       18  21485.0
203      109.1       26  22470.0
204      109.1       19  22625.0

[205 rows x 3 columns]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X = df.drop('price',axis=1)
y = df['price']

In [21]:
y

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [25]:
X_train.shape

(164, 2)

In [26]:
X_test.shape

(41, 2)

# Feature-Scalling : Normalization : MinMaxScaler

In [27]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [34]:
X_train_scaled

array([[0.63103448, 0.5625    ],
       [0.73448276, 0.1875    ],
       [0.3137931 , 0.5625    ],
       [0.27241379, 0.5625    ],
       [0.34137931, 0.4375    ],
       [0.24482759, 0.5625    ],
       [0.24482759, 0.40625   ],
       [0.73448276, 0.46875   ],
       [0.32068966, 0.1875    ],
       [0.27241379, 0.78125   ],
       [0.56206897, 0.21875   ],
       [0.27241379, 1.        ],
       [0.54482759, 0.5       ],
       [0.27241379, 0.5625    ],
       [0.45517241, 0.1875    ],
       [0.40689655, 0.34375   ],
       [0.3       , 0.125     ],
       [0.1       , 0.125     ],
       [0.24482759, 0.75      ],
       [0.35862069, 0.34375   ],
       [0.16206897, 0.1875    ],
       [0.54482759, 0.4375    ],
       [0.55517241, 0.1875    ],
       [0.54482759, 0.53125   ],
       [0.        , 0.5625    ],
       [0.50344828, 0.25      ],
       [0.34137931, 0.53125   ],
       [0.27241379, 0.1875    ],
       [0.34137931, 0.375     ],
       [0.3137931 , 0.53125   ],
       [0.43103448, 0.1875    ],
       [0.23103448, 0.40625   ],
       [0.22413793, 0.5625    ],
       [0.95172414, 0.1875    ],
       [0.27241379, 0.40625   ],
       [0.34137931, 0.34375   ],
       [0.32068966, 0.1875    ],
       [0.24482759, 0.5625    ],
       [0.24482759, 0.34375   ],
       [0.24482759, 0.5625    ],
       [0.43103448, 0.1875    ],
       [0.77586207, 0.3125    ],
       [0.73793103, 0.15625   ],
       [0.27241379, 0.1875    ],
       [0.24482759, 0.5625    ],
       [0.32413793, 0.34375   ],
       [0.24482759, 0.5625    ],
       [0.1       , 0.125     ],
       [0.33448276, 0.375     ],
       [0.24482759, 0.5625    ],
       [0.34137931, 0.53125   ],
       [0.95172414, 0.375     ],
       [0.42068966, 0.40625   ],
       [0.24482759, 0.5625    ],
       [0.43103448, 0.25      ],
       [0.47586207, 0.625     ],
       [0.24482759, 0.53125   ],
       [0.50344828, 0.3125    ],
       [0.61034483, 0.125     ],
       [0.27241379, 0.5       ],
       [0.66206897, 0.1875    ],
       [0.24482759, 0.34375   ],
       [0.1       , 0.125     ],
       [0.61034483, 0.34375   ],
       [0.36551724, 0.59375   ],
       [0.44137931, 0.15625   ],
       [0.24482759, 0.78125   ],
       [0.95172414, 0.1875    ],
       [0.36896552, 0.75      ],
       [0.73448276, 0.1875    ],
       [0.35517241, 0.3125    ],
       [0.50344828, 0.3125    ],
       [0.42068966, 0.40625   ],
       [0.24482759, 0.75      ],
       [0.3137931 , 0.6875    ],
       [0.40689655, 0.34375   ],
       [0.06896552, 0.25      ],
       [0.36896552, 0.75      ],
       [0.36896552, 0.4375    ],
       [1.        , 0.28125   ],
       [0.77586207, 0.40625   ],
       [0.42068966, 0.40625   ],
       [0.27241379, 0.78125   ],
       [0.27241379, 0.40625   ],
       [0.57586207, 0.34375   ],
       [0.34137931, 0.4375    ],
       [0.73448276, 0.46875   ],
       [0.57586207, 0.34375   ],
       [0.24482759, 0.34375   ],
       [0.3137931 , 0.4375    ],
       [0.27241379, 0.34375   ],
       [0.33448276, 0.375     ],
       [0.34137931, 0.4375    ],
       [0.40689655, 0.34375   ],
       [0.91034483, 0.0625    ],
       [0.27241379, 0.5625    ],
       [0.3137931 , 0.65625   ],
       [0.26551724, 0.34375   ],
       [0.36551724, 0.46875   ],
       [0.45517241, 0.34375   ],
       [0.16206897, 0.125     ],
       [0.22413793, 0.5625    ],
       [0.43103448, 0.25      ],
       [0.36896552, 0.4375    ],
       [0.3137931 , 0.46875   ],
       [0.27241379, 0.34375   ],
       [0.53103448, 0.        ],
       [0.33448276, 0.3125    ],
       [0.24482759, 0.53125   ],
       [0.66206897, 0.1875    ],
       [0.95172414, 0.375     ],
       [0.27241379, 0.5625    ],
       [0.32068966, 0.1875    ],
       [0.61724138, 0.1875    ],
       [0.36896552, 0.4375    ],
       [0.27241379, 0.5625    ],
       [0.66206897, 0.125     ],
       [0.50344828, 0.25      ],
       [0.42068966, 0.40625   ],
       [0.54482759, 0.4375    ],
       [0.32758621, 0.3125    ],
       [0.80689655, 0.0625    ],
       [0.34482759, 0.09375   ],
       [0.61724138, 0.21875   ],
       [0.43103448, 0.25      ],
       [0.40689655, 0.34375   ],
       [0.61034483, 0.125     ],
       [0.42068966, 0.71875   ],
       [0.22413793, 0.5625    ],
       [0.73448276, 0.1875    ],
       [0.22413793, 0.53125   ],
       [0.77586207, 0.1875    ],
       [0.40689655, 0.34375   ],
       [0.3       , 0.09375   ],
       [0.91034483, 0.0625    ],
       [0.33448276, 0.3125    ],
       [0.24482759, 0.75      ],
       [0.3       , 0.125     ],
       [0.3137931 , 0.78125   ],
       [0.61034483, 0.34375   ],
       [0.40689655, 0.125     ],
       [0.34137931, 0.4375    ],
       [0.3137931 , 0.53125   ],
       [0.47586207, 0.375     ],
       [0.06896552, 0.25      ],
       [0.22413793, 0.5625    ],
       [0.35517241, 0.3125    ],
       [0.32758621, 0.3125    ],
       [0.3137931 , 0.5625    ],
       [0.47586207, 0.1875    ],
       [0.36551724, 0.4375    ],
       [0.73448276, 0.46875   ],
       [0.33448276, 0.3125    ],
       [0.87586207, 0.03125   ],
       [0.24482759, 0.5625    ],
       [0.77586207, 0.1875    ],
       [0.27241379, 0.78125   ],
       [0.36896552, 0.40625   ],
       [1.        , 0.09375   ],
       [0.43448276, 0.1875    ],
       [0.58275862, 0.21875   ],
       [0.27241379, 0.5625    ],
       [0.56206897, 0.1875    ],
       [0.47586207, 0.125     ]])

In [35]:
X_test_scaled

array([[0.58275862, 0.09375   ],
       [0.44482759, 0.09375   ],
       [0.36551724, 0.4375    ],
       [0.43103448, 0.25      ],
       [0.80689655, 0.28125   ],
       [0.27241379, 0.5625    ],
       [0.3137931 , 0.78125   ],
       [0.3137931 , 0.46875   ],
       [0.35862069, 0.375     ],
       [0.36896552, 0.75      ],
       [0.47586207, 0.1875    ],
       [0.27241379, 0.5       ],
       [0.63103448, 0.1875    ],
       [0.54482759, 0.4375    ],
       [1.18275862, 0.03125   ],
       [0.3137931 , 0.5625    ],
       [0.06206897, 1.0625    ],
       [0.32068966, 0.1875    ],
       [0.33448276, 0.375     ],
       [0.36551724, 0.40625   ],
       [0.42068966, 0.40625   ],
       [0.47586207, 0.125     ],
       [0.29310345, 0.5625    ],
       [0.        , 1.125     ],
       [0.24482759, 0.5625    ],
       [0.58275862, 0.09375   ],
       [0.40689655, 0.34375   ],
       [0.61034483, 0.3125    ],
       [0.27241379, 0.5625    ],
       [0.61034483, 0.3125    ],
       [0.80689655, 0.28125   ],
       [0.24482759, 0.5625    ],
       [0.3137931 , 0.4375    ],
       [0.77586207, 0.15625   ],
       [0.22068966, 0.34375   ],
       [0.69310345, 0.28125   ],
       [0.35862069, 0.34375   ],
       [0.3       , 0.125     ],
       [0.27241379, 0.78125   ],
       [0.32068966, 0.1875    ],
       [0.35862069, 0.46875   ]])

In [36]:
X_train_scalled = pd.DataFrame(data=X_train_scaled, columns=X_train.columns)
X_test_scalled = pd.DataFrame(data=X_test_scaled, columns=X_train.columns)

In [40]:
X_train_scalled

     wheelbase  citympg
0     0.631034  0.56250
1     0.734483  0.18750
2     0.313793  0.56250
3     0.272414  0.56250
4     0.341379  0.43750
..         ...      ...
159   0.434483  0.18750
160   0.582759  0.21875
161   0.272414  0.56250
162   0.562069  0.18750
163   0.475862  0.12500

[164 rows x 2 columns]

# When to apply

# These algorithms are used to MinMaxScaler

K-Nearest Nieghbors (KNN)
support vector machines (SVM)
K-Means Clustering
Principal Component Analysis (PCA)
Gradient Desent Based Algorithms
Gaussian Mixture Models (GMM)